{% extends '::base.html.twig' %}

    {% block body %}
        <section class="login">
            <article>
                <h1>Register</h1>

                <form action="{{ path('user_register') }}" method="POST">
                    {{ form_errors(form) }}

                    {{ form_row( form.username) }}                    
                    {{ form_row( form.email) }}
                    {{ form_row( form.plainpassword.first, {"label":"Password"}) }}   
                    {{ form_row( form.plainpassword.second, {"label":"Repeat password"}) }}
                    {{ form_rest(form) }}                                     
                    <input type="submit" class="btn btn-primary pull-left" value="Register!" />
                </form>
            </article>
        </section>
    {% endblock %}