{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Time</th>
                <th>Location</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('news_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.name }}</td>
                <td>{% if article.time %}{{ article.time|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ article.location }}</td>
                <td>{{ article.details }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('news_show', { 'id': article.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('news_edit', { 'id': article.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('news_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
